.add-button-container {
  margin: 8px 0;

  display: flex;
  justify-content: flex-end;
}

.content {
  margin-left: 320px;
}

.form-container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: stretch;
}
