<full-calendar [options]="calendarOptions"></full-calendar>
<p-contextMenu [model]="contextMenuItems"></p-contextMenu>
<div class="card flex justify-content-center gap-2">
  <p-toast />
  <p-confirmDialog [closable]="false" #cd>
    <ng-template pTemplate="footer">
      <button type="button" class="p-button-info" pButton label="NO" (click)="cd.reject()"></button>
      <button type="button" class="p-button-danger" pButton label="SI" (click)="cd.accept()"></button>
    </ng-template>
  </p-confirmDialog>
</div>
