@import "primeng/resources/themes/md-light-indigo/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
  margin: 0;

  font-family: 'Roboto', sans-serif;
}

.fc-event { // calendar events
  cursor: pointer;
}

.p-inputtext {
  width: 100%;
}
